ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4287f5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

li a:hover {
    background-color: #649dfa;
    color: white;
}

#heading {
    padding: 20px;
}

.headers{
    padding-left: 20px;
}

.descriptions{
    padding: 20px;
    background-color: #FFFFFF;
}

.bpoints{
    list-style-type: circle;
}

.links{
    font-size: 20px;
}

.didYouKnow{
    margin: 20px;
    background-color: #669ffa; 
}

.collapsible {
    background-color: #96cceb;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    color: black;
}

.active, .collapsible:hover {
  background-color: #b2def7;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}